{% extends 'home/layout.html' %}


{% block body %}
<div class='content'>
    <ul class='blogs'>
        {% for blog in blogs %}
            <li class='blog-container'>
                <a class='blog' href="{% url 'blog' blog.id %}" >
                        <div class='content-container'>
                            <h3 class='title'>{{ blog.blog_title}} </h3>
                            <h5 class='name'>By: {{ blog.blog_author}}</h5>
                            <p class='paragraph-container'>{{ blog.blog_context}}</p>
                        </div>


                </a>
            </li>
        {% empty %}
            <li><h3>No blogs</h3></li> 
        {% endfor %}
    </ul>
</div>
{% endblock body %}